OPENAEV_URL=ChangeMe
OPENAEV_TOKEN=ChangeMe
OPENAEV_TENANT_ID=ChangeMe

COLLECTOR_ID=ChangeMe
COLLECTOR_NAME=Palo Alto Prisma AIRS
COLLECTOR_PLATFORM=LLM_FIREWALL
COLLECTOR_PERIOD=PT120S
COLLECTOR_LOG_LEVEL=info

COLLECTOR_BASE_URL=https://service.api.aisecurity.paloaltonetworks.com
COLLECTOR_API_KEY=ChangeMe
COLLECTOR_AI_PROFILE=ChangeMe
