OPENAEV_URL=ChangeMe
OPENAEV_TOKEN=ChangeMe
OPENAEV_TENANT_ID=ChangeMe

COLLECTOR_ID=ChangeMe
COLLECTOR_NAME=HiddenLayer AIDR
COLLECTOR_PLATFORM=LLM_FIREWALL
COLLECTOR_LOG_LEVEL=info

COLLECTOR_BASE_URL=https://api.us.hiddenlayer.ai
COLLECTOR_AUTH_URL=https://auth.hiddenlayer.ai/oauth2/token
COLLECTOR_CLIENT_ID=ChangeMe
COLLECTOR_CLIENT_SECRET=ChangeMe
