openaev:
  url: 'http://localhost:3001'
  token: 'ChangeMe'
# tenant_id: 'ChangeMe'

collector:
  id: 'ChangeMe'
  name: 'Microsoft Defender'
  platform: 'EDR'
  period: 'PT1M'
  log_level: 'error'
  microsoft_defender_tenant_id: ''
  microsoft_defender_client_id: ''
  microsoft_defender_client_secret: ''
