OPENAEV_URL=ChangeMe
OPENAEV_TOKEN=ChangeMe
OPENAEV_TENANT_ID=ChangeMe

COLLECTOR_ID=ChangeMe
COLLECTOR_NAME=Prompt Security
COLLECTOR_PLATFORM=LLM_FIREWALL
COLLECTOR_PERIOD=PT120S
COLLECTOR_LOG_LEVEL=error

COLLECTOR_BASE_URL=https://ChangeMe.prompt.security
COLLECTOR_APP_ID=ChangeMe
COLLECTOR_AUTH_HEADER=APP-ID
