openaev:
  url: 'http://localhost:3001'
  token: 'ChangeMe'
  # only required for multi-tenancy (Enterprise Edition), keep commented otherwise
  # tenant_id: 'ChangeMe'

collector:
  id: 'ChangeMe'
  name: 'Atomic Red Team'
  period: 'P7D'
  log_level: 'error'

