# base URL to reach the OpenAEV server
# note this URL must be routable from inside the container
# so `localhost` will most likely not work
OPENAEV_URL=ChangeMe
# admin account API token from the OpenAEV server
OPENAEV_TOKEN=ChangeMe
OPENAEV_TENANT_ID=ChangeMe

# collector ID must be a unique string, e.g. UUIDv4
COLLECTOR_ID=ChangeMe
COLLECTOR_NAME=Tanium Threat Response
COLLECTOR_PLATFORM=EDR
COLLECTOR_PERIOD=PT1M
COLLECTOR_LOG_LEVEL=error

# Tanium-specific; refer to your Tanium deployment for values
COLLECTOR_TANIUM_URL=ChangeMe
COLLECTOR_TANIUM_URL_CONSOLE=ChangeMe
COLLECTOR_TANIUM_TOKEN=ChangeMe
COLLECTOR_TANIUM_SSL_VERIFY=ChangeMe