services:
  collector-microsoft-sentinel:
    image: openaev/collector-microsoft-sentinel:latest
    environment:
      - OPENAEV_URL=${OPENAEV_URL}
      - OPENAEV_TOKEN=${OPENAEV_TOKEN}
      - COLLECTOR_ID=${COLLECTOR_ID}
      - COLLECTOR_NAME=${COLLECTOR_NAME:-"Microsoft Sentinel"}
      - COLLECTOR_LOG_LEVEL=${COLLECTOR_LOG_LEVEL:-warn}
      - COLLECTOR_PERIOD=${COLLECTOR_PERIOD:-PT1M}
      - COLLECTOR_PLATFORM=${COLLECTOR_PLATFORM:-SIEM}
      - MICROSOFT_SENTINEL_TENANT_ID=${MICROSOFT_SENTINEL_TENANT_ID}
      - MICROSOFT_SENTINEL_CLIENT_ID=${MICROSOFT_SENTINEL_CLIENT_ID}
      - MICROSOFT_SENTINEL_CLIENT_SECRET=${MICROSOFT_SENTINEL_CLIENT_SECRET}
      - MICROSOFT_SENTINEL_SUBSCRIPTION_ID=${MICROSOFT_SENTINEL_SUBSCRIPTION_ID}
      - MICROSOFT_SENTINEL_WORKSPACE_ID=${MICROSOFT_SENTINEL_WORKSPACE_ID}
      - MICROSOFT_SENTINEL_RESOURCE_GROUP=${MICROSOFT_SENTINEL_RESOURCE_GROUP}
      - MICROSOFT_SENTINEL_EDR_COLLECTORS=${MICROSOFT_SENTINEL_EDR_COLLECTORS}
    restart: unless-stopped
