openaev:
  url: 'http://localhost:8081'
  token: "ChangeMe"

collector:
  id: "Palo Alto Cortex XDR"

palo_alto_cortex_xdr:
  fqdn: "ChangeMe"
  api_key: "ChangeMe"
  api_key_id: 1
  #api_key_type: "standard"
