services:
  collector-crowdstrike:
    image: openaev/collector-crowdstrike:latest
    environment:
      - OPENAEV_URL=${OPENAEV_URL}
      - OPENAEV_TOKEN=${OPENAEV_TOKEN}
      - COLLECTOR_ID=${COLLECTOR_ID}
      - COLLECTOR_NAME=${COLLECTOR_NAME:-"CrowdStrike Endpoint Security"}
      - COLLECTOR_PERIOD=${COLLECTOR_PERIOD:-PT1M}
      - COLLECTOR_LOG_LEVEL=${COLLECTOR_LOG_LEVEL:-warn}
      - COLLECTOR_PLATFORM=${COLLECTOR_PLATFORM:-EDR}
      - CROWDSTRIKE_BASE_URL=${CROWDSTRIKE_BASE_URL}
      - CROWDSTRIKE_UI_BASE_URL=${CROWDSTRIKE_UI_BASE_URL}
      - CROWDSTRIKE_CLIENT_ID=${CROWDSTRIKE_CLIENT_ID}
      - CROWDSTRIKE_CLIENT_SECRET=${CROWDSTRIKE_CLIENT_SECRET}
    restart: unless-stopped
