services:
  collector-microsoft-defender:
    image: openaev/collector-microsoft-defender:latest
    environment:
      - OPENAEV_URL=${OPENAEV_URL}
      - OPENAEV_TOKEN=${OPENAEV_TOKEN}
      - COLLECTOR_ID=${COLLECTOR_ID}
      - COLLECTOR_NAME=${COLLECTOR_NAME:-"Microsoft Defender"}
      - COLLECTOR_LOG_LEVEL=${COLLECTOR_LOG_LEVEL:-warn}
      - COLLECTOR_PERIOD=${COLLECTOR_PERIOD:-PT1M}
      - COLLECTOR_PLATFORM=${COLLECTOR_PLATFORM:-EDR}
      - MICROSOFT_DEFENDER_TENANT_ID=${MICROSOFT_DEFENDER_TENANT_ID}
      - MICROSOFT_DEFENDER_CLIENT_ID=${MICROSOFT_DEFENDER_CLIENT_ID}
      - MICROSOFT_DEFENDER_CLIENT_SECRET=${MICROSOFT_DEFENDER_CLIENT_SECRET}
    restart: unless-stopped
